@page
@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form method="post" enctype="multipart/form-data">
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" asp-for="user.username" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your username</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" asp-for="user.password" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" asp-for="user.Repassword" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>
                
                <div class="text-center mt-4">
                  <!-- Submit button -->
                  <button asp-page-handler="Reg" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/Index"
                    class="fw-bold text-body"><u>Login here</u></a></p>
                 <div class=" t-4">
                    @if(!string.IsNullOrEmpty(Model.FeedBackMessage))
                    {
                        @if(Model.FeedBackMessage.Contains("fields"))
                        {
                          <div class="alert alert-warning alert-dismissible fade show mt-4 text-center">
                            <strong>@Model.FeedBackMessage</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                          </div>
                        } 
                    
                        else if(Model.FeedBackMessage.Contains("passwords"))
                        {
                          <div class="alert alert-danger  alert-dismissible fade show mt-4 text-center">
                            <strong>@Model.FeedBackMessage</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                          </div>
                        }
                    }
                  </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>